body{
	background-color:#0099ff;
	font-size:70%;
	text-align:center;
}
#content{
	background-color:##c9e9ff;
	padding: 15px;
	border-width:20px;
	border-radius:20px;
}
#time{
	font-size:60%;
	text-align:center;
}
