body	{
	background-color:#4285f4;
	text-align:center;
	color: #ffffff;
	text-shadow: 1px 1px 2px #9b9b9b;
	white-space: nowrap;
}
h1	{
	font-size:30px;
}

#content	{
	background-color:#0e65f2;
	padding: 10px 20px 10px 20px;
	border-style: none;
	border-radius:10px;
	
}
#content-box	{
	box-sizing:content-box;
}
#time	{
	text-align:center;
	color: #ffffff;
	font-size:70px;
}
